:root {
    --main-color: #004AAD;
    --background-color: white;
    --second-color: rgb(255, 204, 0, 1)
}
.Intro {
    background-image: url(img/Backgroud.png);
    background-size: cover;
    direction: rtl;
}
.Title {
    margin: 50px 0px;
    text-align: center;
    color: var(--second-color);
    font-size: 93.1px;
    font-family: "Tajawal", "arial";
    text-shadow: 0px 4px 0.1px rgb(0 0 0 / 25%);
    letter-spacing: 5px;
}
.TitleP {
    margin: 110px 40px;
    padding-right: 20px;
    font-family: "Tajawal", "arial";
    color: var(--second-color);
    font-size: 48px;
    line-height: 0.5;
    font-weight: 600;
    text-shadow: 0px 4px 0.1px rgb(0 0 0 / 25%);
}
.MainImg {
    width: 35%;
    position: absolute;
    top: 250px;
    right: 800px;
}
.KnowMore {
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 30px;
    border: 50px 50px 50px 0px;
    border-radius: 65px;
    font-size: 48px;
    font-family: "Tajawal", "arial";
    font-weight: 500;
    text-decoration: none;
    margin: 20px;
    display: inline-block;
    position: relative;
    right: 100px;
    bottom: 50px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.KnowMore:hover {
    transform: scale(1.03);
}