.nav{
    position: sticky;
    top: 0;
    background-color: #004aad;
    background-position: top center;
    overflow: hidden;
    white-space: nowrap
}
.logo{
    width: 100px;
    height: 100px;
    padding-left: 10px;
}
.navLinkProject{
    position: absolute;
    top: 50px;
    left: 20vw;
    font-family: "Ubuntu","Arial";
}
.navLinkStore{
    position: absolute;
    top: 50px;
    left: 45vw;
    font-family: "Ubuntu","Arial";
}
.navLinkContactUs{
    position: absolute;
    top: 50px;
    left: 65vw;
    font-family: "Ubuntu","Arial";
}
.navLinkProject:hover,
.navLinkStore:hover,
.navLinkContactUs:hover {
    transform: scale(1.2); 
    color: #ffcc00;
}
.nav a {
    text-decoration-line: none;
    padding: 0px 20px;
    font-size: 200%;
    color: white;
    transition: transform 0.6s ease, color 0.6s ease;
}
.intro {
    background-color: #0886f4;
    overflow: hidden;
}
.welcome{
    font-family: "Ubuntu","Arial";
    font-weight: 900;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 60px;
    color: #ffcc00;
}
.myName{
    font-family: "Arial";
    font-weight: 900;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 250%;
    color: #ffcc00;
}
.aboutMe{
    font-family: "Arial";
    font-weight: 900;
    padding-left: 30px;
    font-size: 150%;
    color: #ffcc00;
}
.WebSoundsImg{
    width: 30vw;
    height: 30vw;
}
.project1 {
    position: absolute;
    top: 1vw;
}